<template>
  <div>
    <h1 class="weatherheader">
      Weather in {{ cityName }}: {{ positionWeather.weather[0].description }}
    </h1>
    <br />
    <div class="weatherdetails">
      Temperature: {{ positionWeather.main.temp | roundToDouble }}° С , feels
      like {{ positionWeather.main.feels_like | roundToDouble }}° С<br />
      Min: {{ positionWeather.main.temp_min | roundToDouble }}° С<br />
      Max: {{ positionWeather.main.temp_max | roundToDouble }}° С<br />
      Pressure: {{ positionWeather.main.pressure }}<br />
      Humidity: {{ positionWeather.main.humidity }}<br />
      Speed of wind: {{ positionWeather.wind.speed }}<br />
      Sunrise(unix): {{ positionWeather.sys.sunrise }}<br />
      Sunset(unix): {{ positionWeather.sys.sunset }}<br />
    </div>
  </div>
</template>
<script>
import axios from "axios";

export default {
  props: {
    cityName: String,
  },
  data: function () {
    return {
      positionWeather: {},
    };
  },
  mounted: function () {
    axios
      .get(
        "http://api.openweathermap.org/data/2.5/weather?q=" +
          this.cityName +
          "&appid=f4d1931410bde52795d613b35b1af27c"
      )
      .then((response) => {
        this.positionWeather = response.data;
        console.log(this.positionWeather);
        this.positionWeather.main.temp -= 273.15;
        this.positionWeather.main.feels_like -= 273.15;
        this.positionWeather.main.temp_min -= 273.15;
        this.positionWeather.main.temp_max -= 273.15;
      });
  },
  filters: {
    roundToDouble: function (element) {
      return element.toFixed(2);
    },
  },
};
</script>
<style scoped>
.weatherheader {
  color: rgb(139, 39, 39);
}
.weatherdetails {
  color: rgb(218, 119, 108);
}
</style>