<template>
    <div>
        Login
        <input type="text" v-model="username">
        <button @click="logIn()">login</button>
    </div>
</template>
<script>

export default {
    data: function () {
        return {
            username: '',
        }
    },
    methods: {
        logIn() {
            this.axios.get('http://46.101.212.195:3000/students/name/'+this.username)
            .then((response) => {
                if( response.data === null) {
                    return
                }
                this.$store.commit('setUser', response.data);
                this.$router.push('/');
            })
        }
    }
}
</script>