<template>
  <div id="studentsInfo">
    <table>
      <tr>
        <td>
          <img v-bind:src="student.photo" @click="showModal()" />
        </td>
        <td>
          {{ student.name }} <br />
          {{ student.group }}
        </td>
      </tr>
    </table>

     <modal v-show="modalShown" @close="closeModal()" >
      <h3 slot="header">Студент</h3>
      <div slot="modal-body"> <img v-bind:src="student.photo"/> </div>
    </modal>
  </div>
</template>

<script>
import Vue from "vue";
import modal from "/components/Modal.vue";

export default {
  props: {
    id: "",
  },
  data: function () {
    return {
      student: {},
      modalShown: false,
    };
  },
  mounted: function () {
    this.axios
      .get("http://46.101.212.195:3000/students/" + this.id)
      .then((response) => {
        console.log(response.data);
        this.student = response.data;
      });
  },
  methods: {
    showModal() {
      this.modalShown = true;
      this.$emit('stud',this.studs);
    },
    closeModal() {
      this.modalShown = false;
    },
  },
  components: {
    modal,
  },
};
</script>

<style scoped>

</style>