<template>
  <div id="app">
    <router-view> </router-view>
  </div>
</template>
<script>
export default {};
</script>
<style scoped>
#app {
  background-color: rgb(255, 241, 204);
  font-family: "Sitka text";
  font-weight: 600;
  display: block;
  padding-left: 29%;
  padding-top: 10%;
  padding-bottom: 31%;
  margin: -1%;
}

</style>